html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  color: aqua;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navbar{
  min-height:10vh;
}
.nav-item{
  color: aqua !important;
}

.text-aqua{
  color: aqua !important;
}

.bg-aqua{
background-color: aqua !important;;
}
aside{
  height: 90vh;
  overflow-y: none;
}

main{
  overflow-y: scroll;
  scroll-behavior: smooth;
}

@media (max-width: 760px){
    aside{
    height: 10vh;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
